# Function Section

# Question 1
Write a function wordcount that takes a string as input, and outputs the word-count. The function should ignore any punctuation and capitalisation. Also, any numbers should be counted as a token-word "NUMBER".

Example:
>>> wordcount('This is a test. There are 14 words and 2 sentences in this test!')
{'this': 2, 'is': 1, 'a': 1, 'test': 2, 'there': 1, 'are': 1, 'NUMBER': 2, 'words': 1, 'and': 1, 'sentences': 1, 'in': 1}

In [8]:
def wordcount(string_input):
    
    counts={}
    # initializing punctuations string
    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    # Removing punctuations in string
    # Using loop + punctuation string
    for p in string_input:
        if p in punc:
            string_input = string_input.replace(p,"")
    new_list = string_input.split(" ")   #splitting the clean string into list 
    counts['NUMBER']=0 #initialising key as NUMBER for digits
    for i in new_list: #looping the list
        if i.isdigit(): #checking for the numbers
            counts['NUMBER']+=1
        else:
            if i in counts:
                counts[i] += 1
            else:
                counts[i] = 1
        
        
    return counts
result=wordcount("This is a test. There are 14 words and 2 sentences in this test!")
print(result)

{'NUMBER': 2, 'This': 1, 'is': 1, 'a': 1, 'test': 2, 'There': 1, 'are': 1, 'words': 1, 'and': 1, 'sentences': 1, 'in': 1, 'this': 1}

# Question 2
Write a function wordsearch that takes two arguments:
- a list of strings
- a one-word string
and outputs the string which contains the maximum number of occurences of the word (ignoring punctuation and capitalisation)
Example:
>>> wordsearch(['Sentence 1', 'This is sentence number 2.', 'Sentence 3: one more sentence.'], 'sentence')
'Sentence 3: one more sentence.'

In [9]:
def wordsearch(list1,string1):
    new_list=[0]*len(list1) #creating an empty list
    for i in range(0,len(list1)):
        list2=list1[i].split()
        for k in range(0,len(list2)):
            if string1.lower() in list2[k].lower():
                new_list[i]+=1
    max1=max(new_list)
    ind=new_list.index(max1)
    return list1[ind]
result=wordsearch(['Sentence 1','This is sentence  number 2.','Sentence 3:one more sentence.'],'sentence')
print(result)

Sentence 3:one more sentence.

# Pandas Section

In [ ]:
#question 1 : show common values from two arrays
#question 2 compare two array and remove the repative array in a
#ques 3,  remove dupicates from column 1 and show only first occurances

In [11]:
import numpy as np
import pandas as pd

a = np.array([1,2,3,4,5])
b = np.array([2,3,6,7,8])

In [3]:
#question 1 : show common values
common=np.intersect1d(a,b)
common

array([2, 3])

In [4]:
#question 2 compare two array and remove the repative array in a
non_rep= np.setdiff1d(a,b)
non_rep

array([1, 4, 5])

In [6]:
#ques 3,  remove dupicates from column 2 and show only first occurances
df_from_arr = pd.DataFrame(data=[a,b])
df_from_arr.drop_duplicates(subset=2)
df_from_arr

   0  1  2  3  4
0  1  2  3  4  5
1  2  3  6  7  8

# Question 1
Load purchase data and price data from purchases.csv and prices.csv

In [15]:
#data_purchases = pd.read_csv(r"C:\Users\Onam\Downloads\purchases.csv")
#data_purchases
data_prices = pd.read_csv(r"C:\Users\Onam\Downloads\prices.csv")
data_prices

           Product  Unnamed: 1  Price (GBP)
0    Chocolate bar         NaN          0.5
1           Coffee         NaN          2.0
2            Drink         NaN          1.0
3     Egg sandwich         NaN          4.5
4  Salami sandwich         NaN          5.0

# Question 2
Calculate who has bought the largest number of drinks IN TOTAL (across all their several purchases, note there is a Quantity column) and how many drinks he/she has purchased

In [57]:
rslt_df = data_purchases.loc[data_purchases['Product'] == 'Drink']
rslt_df
rslt_df1=rslt_df.groupby('Customer', as_index=False)['Quantity purchased'].sum()
rslt_df1  
max_index = rslt_df1["Quantity purchased"].idxmax()
max_row = rslt_df1.iloc[[max_index]]

print(max_row)

  Customer  Quantity purchased
3    Frank                 8.0

# Question 3
Calculate the total sales in GBP of all types of sandwiches, summarised per month

In [46]:
merged=data_purchases.merge(data_prices, on='Product',how='inner')
merged=merged.drop('Unnamed: 1',1)
merged
filter_df = merged[merged['Product'].str.contains("sandwich")]
filter_df["Total Sale"] = filter_df["Quantity purchased"]*filter_df["Price (GBP)"]
filter_df
filter_df1=filter_df.groupby('Product',as_index=False)['Total Sale'].sum()
filter_df1

C:\Users\Onam\AppData\Local\Temp/ipykernel_2720/1025242360.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merged=merged.drop('Unnamed: 1',1)
C:\Users\Onam\AppData\Local\Temp/ipykernel_2720/1025242360.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df["Total Sale"] = filter_df["Quantity purchased"]*filter_df["Price (GBP)"]

           Product  Total Sale
0     Egg sandwich        58.5
1  Salami sandwich       110.0

# Numpy Section

M = np.array([[1, 5, 1], [10, 7, 1.5], [6.9, 5, 1], [19, 9, 100], [11, 11, 11]])

# Question 1
Filter M to only keep rows where the maximum value is >= 10

In [6]:
import numpy as np
M = np.array([[1, 5, 1], [10, 7, 1.5], [6.9, 5, 1], [19, 9, 100], [11, 11, 11]])
M
out=[]
for i in range(0,len(M)):
    if max(M[i])>=10:
        out.append(M[i])
out

[array([10. ,  7. ,  1.5]), array([ 19.,   9., 100.]), array([11., 11., 11.])]

# Question 2
Sort the columns of M based on the mean of each column (largest first)

In [82]:
M = np.array([[1, 5, 1], [10, 7, 1.5], [6.9, 5, 1], [19, 9, 100], [11, 11, 11]])
M
df = pd.DataFrame(M, columns=list('ABC'))
df
df.mean().sort_values()
df.reindex(df.mean().sort_values().index, axis=1)

      B     A      C
0   5.0   1.0    1.0
1   7.0  10.0    1.5
2   5.0   6.9    1.0
3   9.0  19.0  100.0
4  11.0  11.0   11.0